/* PlaceHeld jQuery plugin*/
input.placeheld{
	color:#bbb;
}

/* div.Popup has z-index 5000 */
div.calendar { z-index: 5001 !important;}
div.calendar table{
	margin: 0 !important;
}

/* select.Month is not defined in typography.screen.css */
/*select.Month, select.Year{
	margin-left: 4px;
}

//removed since 0.13

 now no need to margin-left Day select 
select.Day{
	margin-left: 0px !important;
}*/

.MorfCheckBoxList{
	display:inline-block;
}

.MorfCheckBoxList ul.CheckBoxList li{
	border:0;
	margin:0;
	/*padding:0;*/
}

.Width1of4{	width:25%;}
.Width1of3{	width:33.33%;}
.Width1of2{	width:50%;}

/*.MorfCheckBoxList2 ul.CheckBoxList li,
.MorfCheckBoxList3 ul.CheckBoxList li,
.MorfCheckBoxList4 ul.CheckBoxList li{
	padding: 0;
	border-bottom-width: 0;
	margin: 0;
}

.MorfCheckBoxList2 ul.CheckBoxList li label.CheckBoxLabel,
.MorfCheckBoxList3 ul.CheckBoxList li label.CheckBoxLabel,
.MorfCheckBoxList4 ul.CheckBoxList li label.CheckBoxLabel{
	display:block;
	white-space:nowrap;
	border:0px dashed green;
}

.MorfCheckBoxList4, .MorfCheckBoxList2, .MorfCheckBoxList3{
	margin:0;
	padding:0;
	border:0;
	float:left;
	width:33.3%;
	max-width:33.3%;
	border:0px dashed black;
	display:table-cell;
}

.MorfCheckBoxList2{
	width:50%;
	max-width:50%;
}
.MorfCheckBoxList4{
	width:25%;
	max-width:25%;
}*/
