/* PlaceHeld jQuery plugin*/
input:-moz-placeholder { color:#bbb;}
input.placeheld { color:#bbb;}
input::-webkit-input-placeholder { color:#bbb;}


/* div.Popup has z-index 5000 */
div.calendar { z-index: 5001 !important;}
div.calendar table {
	margin: 0 !important;
}

.MorfCheckBoxList {
	display:inline-block;
}

.MorfCheckBoxList ul.CheckBoxList li {
	border:0;
	margin:0;
	/*padding:0;*/
}

.Width1of4 {
	width:25%;
}
.Width1of3 {
	width:33.33%;
}
.Width1of2 {	
	width:50%;
}

